.product-carousel {
  position: relative;

  &-slider {
    margin: 0 -#{$grid-margin};
  }

  &-thumbnail {
    @include pos-center-x;
    bottom: 16px;
  }

  .thumbnail-list {
    @include flexbox;
  }

  .thumbnail-item {
    @include flexbox;
    margin: 0 4px;

    &.tns-nav-active {
      button {
        opacity: 1;
        transform: scale(1.3333333333);
      }
    }

    button {
      width: 6px;
      height: 6px;
      background-color: $white;
      border-radius: 50%;
      opacity: 0.7;
      transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    }

    img {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include responsive(T) {
    padding-right: 30px;

    &-slider {
      margin: 0 0 8px 0;
      overflow: hidden;
      border-radius: 4px;
    }

    &-thumbnail {
      position: static;
      transform: none;
    }

    .thumbnail-list {
      justify-content: start;
    }

    .thumbnail-item {
      margin: 0 8px 0 0;

      &.tns-nav-active {
        button {
          border: 2px solid $blue;
          transform: none;
        }
      }

      button {
        @include flexbox;
        width: 56px;
        height: 56px;
        overflow: hidden;
        border-radius: 4px;
        opacity: 1;
      }

      img {
        display: block;
        width: 56px;
        height: 56px;
      }
    }
  }

  @include responsive(D) {
    @include flexbox(end, start);
    flex-direction: row-reverse;

    &-slider {
      width: 500px;
      height: 500px;
    }

    &-thumbnail {
      margin-right: 8px;
    }

    .thumbnail-list {
      flex-direction: column;
    }

    .thumbnail-item {
      margin-right: 0;
      margin-bottom: 8px;

      button,
      img {
        width: 75px;
        height: 75px;
      }
    }
  }

  //   아래는 혼자 먼저 작성해본 데스크탑 carousel
  //   @include responsive(D) {
  //     &-slider {
  //       width: 500px;
  //       height: 500px;
  //       margin-bottom: 0;
  //       margin-left: 75px + 8px;
  //     }

  //     &-thumbnail {
  //       position: absolute;
  //       top: 0;
  //       left: 0;
  //     }

  //     .thumbnail-list {
  //       align-items: flex-start;
  //       flex-direction: column;
  //     }

  //     .thumbnail-item {
  //       margin: 0 0 8px 0;

  //       button {
  //         width: 75px;
  //         height: 75px;
  //       }

  //       img {
  //         width: 75px;
  //         height: 75px;
  //       }
  //     }
  //   }
}
