.product-card {
  &-image {
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-brand {
    @include text-style(12, $secondary);
    display: block;
    margin-bottom: 4px;
  }

  &-title {
    @include text-style(13, $dark);
    font-weight: 400;
    line-height: 16px;
  }

  &-price {
    @include flexbox(start);
    @include text-style(18);
    margin-bottom: 4px;
    font-weight: 700;

    .percent {
      margin-right: 8px;
      color: $blue;
    }

    .price {
      color: $dark;
    }
  }

  &-detail {
    @include flexbox(start);
    @include text-style(12);
    margin-bottom: 8px;
    font-weight: 700;

    .rating,
    .review {
      @include flexbox(start);
    }

    .rating {
      margin-right: 8px;
      color: $primary;

      .ic-star {
        margin-right: 2px;
        color: $blue;
      }
    }

    .review {
      color: $secondary;

      dt {
        margin-right: 2px;
      }
    }
  }
}
