.global-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 0 40px;
  background-color: $background;

  &-title {
    @include text-style(13, $dark);
    // @include flexbox(start); 아이콘에 block
    font-weight: 700;

    .ic-chevron {
      display: inline-block;
      font-size: 12px;
      transform: rotate(-90deg);
    }
  }

  &-contact {
    @include text-style(24, $dark);
    font-weight: 700;
  }

  &-time {
    @include text-style(12, $primary);
    margin-bottom: 24px;
  }

  &-detail-item {
    @include flexbox(start);
    font-size: 10px;
    // font-weight: 400; 구지 필요없음
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $secondary;

    // dt {
    //   margin-right: 5px;
    // } 가상요소 넣으면서 같이 정리

    dt::after {
      margin: 0 2px;
      content: ':';
    }

    address {
      display: inline;
    }
  }

  @include responsive(D) {
    &-title {
      @include text-style(14);
    }

    &-contact:hover {
      opacity: 0.5;
    }

    &-detail-list {
      @include flexbox(start);
    }

    &-detail-item {
      a:hover {
        text-decoration: underline;
      }

      &:not(:last-child):after {
        margin: 0 8px;
        content: '|';
      }
    }
  }
}
