.lnb {
  $lnb-height-sm: 40px;
  $lnb-height-md: 50px;
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;

  &-list {
    @include inline-flexbox(start);
    height: $lnb-height-sm;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    // width: max-content; 호환성 이슈있음
    border-bottom: 1px solid $border;
  }

  &-item {
    // flex-shrink: 0; white-space 들어와서 필요 없어짐

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }

    a {
      @include text-style(13, $dark);
      @include inline-flexbox;
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      font-weight: 700;
      border-bottom: 2px solid transparent;

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    height: $lnb-height-md;
    overflow-x: visible;
    border-bottom: 1px solid $border;

    &-list {
      height: auto;
      padding: 0;
      margin-left: 0;
      border-bottom: 0;
    }

    &-item {
      a {
        @include text-style(14);
        height: $lnb-height-md;
      }
    }
  }
}

// 처음 혼자 짰던 코드. 뭐가 문제였을까?
// .lnb {
//   overflow-x: scroll;
//   white-space: nowrap;
//   border-bottom: 1px solid $border;

//   &::-webkit-scrollbar {
//     display: none;
//   }

//   &-list {
//     @include flexbox(start);
//     top: 100%;
//     left: 7px;
//   }

//   &-item {
//     a {
//       @include inline-flexbox;
//       @include text-style(13, $dark);
//       display: inline-block;
//       width: auto;
//       height: 40px;
//       padding: 0 8px;
//       font-weight: 700;
//     }

//     .ic-new {
//       display: inline-block;
//       font-size: 16px;
//       color: $red;
//     }

//     .is-active {
//       color: $blue;
//       border-bottom: 2px solid $blue;
//     }
//   }

//   @include responsive(T) {
//     &-list {
//       .lnb-item {
//         a {
//           @include text-style(14, $dark);
//           height: 50px;
//           padding: 13px 8px;
//         }
//       }
//     }
//   }
// }
